@page
@model Bookworm.Views.Reviews.IndexModel
@{
    var reviews = (List<ReviewModel>)ViewBag.Reviews;
}

<div class="ui comments large" style="margin:100px">
    <h3 class="ui dividing header">All Reviews</h3>
    @foreach (var review in reviews)
    {

        <div class="comment">
            <a class="avatar">
                <img src=@review.User.Profile.Avatar>
            </a>
            <div class="content">
                <a class="author">@review.User.Profile.Name</a>
                <div class="metadata">
                    <span class="date">@review.Book.Title</span>
                </div>
                <div class="text">
                    @review.Content
                </div>
                <div class="actions">
                    <a class="reply">Reply</a>
                </div>
            </div>
        </div>
    }
</div>
