@model Room

<form asp-action="Create" method="post" class="form-horizontal">
    @*<div class="form-group">
            <label asp-for="HotelId">Hotel Id</label>
            <div>
                <input asp-for=" HotelId" />
            </div>
        </div>*@

    @*<div class="form-group">
        <label asp-for="RoomNumber">Room Number</label>
        <div>
            <input asp-for="RoomNumber" />
        </div>
    </div>*@

    <div class="form-group">
        <label asp-for="RoomType">Room Type</label>
        <div>
            <input asp-for="RoomType" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="RoomRate">Room Rate</label>
        <div>
            <input asp-for="RoomRate" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="RoomLocation">Room Location</label>
        <div>
            <input asp-for=" RoomLocation" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="NumberOfBeds">Number of Beds</label>
        <div>
            <input asp-for=" NumberOfBeds" />
        </div>
    </div>



    <div class="form-group">


        <input type="submit" class="btn btn-primary" value="Submit" />

    </div>

</form>
