@model ArtistModel

@{
    var Artist = (ArtistModel)ViewData["Artist"];
}
<h1>Edit Product Form</h1>
<form asp-action="Edit" method="post" asp-route-id="@Artist.ArtId" class="form-horizontal">
    
    <div class="form-group">
        <label asp-for="ArtName">Name</label>
        <div>
            <input asp-for="ArtName" value="@Artist.ArtName" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ArtImg">Image</label>
        <div>
            <input asp-for="ArtImg" value="@Artist.ArtImg" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ArtBio">Bio</label>
        <div>
            <input asp-for="ArtBio" value="@Artist.ArtBio" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-dark" value="Edit" style="margin-top:10px"/>

        </div>
    </div>
</form>