@model BookModel

<div style="width: 70%;
        align-content: center;">

    <form asp-action="Create" method="post" class="form-horizontal">

        <div class="form-group">
            <label style="color: azure" asp-for="BookId">BookId</label>
            <div>
                <input class="form-control" asp-for="BookId" required />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Author" style="color: azure">Author</label>
            <div>
                <input class="form-control" asp-for="Author" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" style="color: azure">Title</label>
            <div>
                <input class="form-control" asp-for="Title" required />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Published" style="color: azure">Published</label>
            <div>
                <input class="form-control" asp-for="Published" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="image" style="color: azure">image</label>
            <div>
                <input class="form-control" asp-for="image" />
            </div>
        </div>
        <div>
            <input type="submit" class="btn btn-success" value="Submit">
        </div>
    </form>
</div>