@{
    ViewData["Title"] = "Books Seller";
    var BookSeller = (BooksSellerModel)ViewData["BooksSeller"];
}

@*<h1>Id: @BookSeller.SellerId </h1>*@

<h2> Seller name: @BookSeller.Name </h2>
<img src="@BookSeller.image" alt="@BookSeller.image" />
