@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <img height="200" width="600" src="https://static.ffx.io/images/$zoom_0.187%2C$multiply_1.9339%2C$ratio_1.776846%2C$width_1059%2C$x_0%2C$y_100/t_crop_custom/q_62%2Cf_auto/0ccb5b1f7c13b25b8cad24a61b17c85b81124daa
" alt="ChildrenBook" />
    <h1 class="display-4">Welcome to children library!</h1>
    <h3>Here you can find books and the books seller</h3>

</div>
