@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="hello.svg" width="50%">
    <br>
    <br>
    <br>
    <h2 class="text-white " > مَوقعٌ لِمُشاركةِ الجُملِ العربيةِ مَع إِعْرابِها </h2>
    <br>
    <br>
    <br>
    <a asp-controller="Sentences" asp-action="Index">
        <button class="myButon" > تصفح </button>
    </a>
</div>