@{ 
    var user = (UserModel)ViewData["user"];
}
<div class="border-b border-black p-1">
    <h4>@user.Username</h4>
</div>
<section class="text-center bg-gray-100">
    <h1>home page</h1>
</section>
<section class="bg-gray-200">
    <a href="/article">Read articles >></a>
</section>