
<h1 style="color:whitesmoke; font-family:'Comic Sans MS';margin-left:300px">Update Your Favorite Flower</h1>

@model Flower
@{
    var Flower = (Flower)ViewData["Flower"];
}

<div style="text-align:center; margin-left:420px; display: inline-block">
    <form asp-action="Edit" method="post" asp-route-id="@Flower.ID">
        <div style="        color: whitesmoke;
        font-family: 'Comic Sans MS';
        text-shadow: 2px 2px 4px #000000">

            <label class="form-label" asp-for="Name">Flower Name</label>
            <div class="form-outline mb-4">
                <input asp-for="Name" value=@Flower.Name class="form-control" required />
            </div>

            <label class="form-label" asp-for="Image">Image</label>
            <div class="form-outline mb-4">
                <input asp-for="Image" value=@Flower.Image class="form-control" />
                <span asp-validation-for="Image" class="text-danger"> </span>
            </div>

            <label class="form-label" asp-for="Tempreture">Tempreture</label>
            <div class="form-outline mb-4">
                <input asp-for="Tempreture" class="form-control" value=@Flower.Tempreture />
            </div>

            <label class="form-label" asp-for="LevelCare">LevelCare</label>
            <div class="form-outline mb-4">
                <input asp-for="LevelCare" class="form-control" value=@Flower.LevelCare />
            </div>

            <label class="form-label" asp-for="Place">Place</label>
            <div class="form-outline mb-4">
                <input asp-for="Place" class="form-control" value=@Flower.Place />
            </div>

            <label class="form-label" asp-for="Size">Size</label>
            <div class="form-outline mb-4">
                <input asp-for="Size" class="form-control" value=@Flower.Size />
            </div>

            <br />
            <div class="form-group mb-4">
                <input type="submit" class="btn btn-info" value="Submit" />
            </div>

        </div>
    </form>
</div>