@model PlayerModel;   

<form asp-action="create" method="post" class="form-horizontal">

    <div class="form-group">
        <label asp-for="name">name</label>
        <input asp-for="name" />
    </div>

    <div class="form-group">
        <label asp-for="Id">Id</label>
        <input asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="number">number</label>
        <input asp-for="number" />
    </div>
    <div class="form-group">
        <label asp-for="CoacheId">Coache Id</label>
        <input asp-for="CoacheId" />
    </div>
    <div class="form-group">
        <label asp-for="TeamId">Team Id</label>
        <input asp-for="TeamId" />
    </div>
    <div class="form-group">
        <label asp-for="LeagueId">League Id</label>
        <input asp-for="LeagueId" />
    </div>
    <div class="form-group">
        <input type="submit" value="submit" class="btn btn-dark" />

    </div>
</form>