@model CourseModel;
<a asp-controller="Products" asp-action="Index">Back to products</a>

<h1>Edit Course page</h1>

<form asp-action="edit" method="post" class="form-horizontal">
    <div class="form-group">
        <label asp-for="Id">id</label>
        <input asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="duration">Duration</label>
        <input asp-for="duration" />
    </div>
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" />
    </div>
    <div class="form-group">
        <label asp-for="PublishDate">Publish Date</label>
        <input asp-for="PublishDate" />
    </div>
    <div class="form-group">
        <input type="submit" value="submit" class="btn btn-dark" />
    </div>

</form>
